.mainContainer{
    width:100%;
    height:49.3rem
}
.leftPannel{
    background-color:#0080ff;
}
.rightPannel{
    background-color:#e9f3fa;
}
.prof3{
    width:15%;
    margin:2.5%
}
.jonnas{
    color:black
}
.side{
    border:1px solid #0080ff;
    border-radius:15px;
    width:80%;
}
.account{
    margin:2%;
    font-size:15px
}
.usage1{
    font-size:20px
}
.linecard{
    height:20rem;
    margin:0% 2% 0% 2%;
    z-index:1
}
.tablecard{
    height:21rem;
    margin:1% 2% 0% 2%
}
.log{
    width:75%;
    margin:2% 2% 0% 11%;
}