.register{
    width:100%;
    height:44.7rem
}
.left{
    margin-left:5%;
}
.logo_sm{
    width:40%;
    margin-left:58%;
    margin-top:2%
}
.signup{
    font-size:35px;
    margin-top:7%
}
.here{
    color:#DC143C;
    margin-left:2%
}
.inputfield{
    border-bottom:1px solid #D0D0D0;
    width:80%;
    margin-top:8.5%;
    font-size:18px;
}
.about{
    font-size:18px;
    margin-top:7%;
    margin-left:2%
}
.signupButton{
    width: 74%;
    margin-top:7%;
    height:3rem;
    font-size:18px;
    font-weight:bold;
    background:#B22222;
    color:white
}
.footer{
    margin:0% 0% 0% 6%;
    font-size:14px
}
.first{
    margin-top:11%;
}
.click{
    margin-top:9.7%;
}
.terms{
    color:#DC143C
}
.radioSwitch{
    margin-top:5%
}
.split{
    margin-top:3%
}






