.welcome{
    width:100%;
    height:44.7rem
}
.logo_sm{
    width:40%;
    margin-left:58%;
    margin-top:2%
}
.inputfield{
    border-bottom:1px solid #D0D0D0;
    width:75%;
    margin-top:12%;
    font-size:18px
}
.inputpasswordfield{
    border-bottom:1px solid #D0D0D0;
    width:75%;
    margin-top:12%;
    font-size:medium
}
.forget{
    color:#0080ff;
    margin-top:3%		
}
.signup{
    font-size:35px;
    margin-top:7%
}
.robotContainer{
    width:75%;
    height:4rem;
    background:#e9f3fa;
    border:1px solid #D0D0D0;
    margin-top:6%;
    border-radius:5px
}
.checkboxfield{
    margin:5% 2% 2% 6%
}
.recaptcha{
    width:50%
}
.signupButton{
    width: 74%;
    margin-top:7%;
    height:3rem;
    font-size:18px;
    font-weight:bold
}
.footer{
    margin:0% 0% 0% 6%;
    font-size:16px
}
.click{
    color:#0080ff;
    margin-top:4%;
}
.first{
    margin-top:6%;
}
.up{
    color:#0080ff;
}
.left{
    margin-left:5%;
}



