.mainContainer{
    width:100%;
    height:44.7rem
}

/* leftpannel */
.leftPannel{
   background-color:#0080ff;
}
.konnektivelogo{
    width:74%;
    margin:6% 2% 2% 6%;
}
.dashboardicon{
    width:40%;
}
.profileicon{
    width:40%;
}
.dashboard{
    color:white
}
.user{
    margin:15%
}
.logout{
    width:80%;
    margin:50% 5% 5% 9%
}
.logout-button{
    background:#1c2e4a;
    color:white;
    width:80%;
    height:2.5rem;
    margin:5% 15% 15% 9%;
    border:none;
    border-radius:4px
}
.version{
    margin:0% 15% 0% 28%;
    color:white
}


/* rightpannel */
.rightPannel{
    background-color:#e9f3fa;
}
.prof3{
    width:15%;
    margin:2.5%
}
.jonnas{
    color:black
}
.side{
    border:1px solid #0080ff;
    border-radius:15px;
    width:80%;
    margin-left:20%
}
.account{
    margin:2%;
    font-size:15px
}
.dashboardcard{
    background:white;
    margin:2% 2% 0% 2%;
    height:39rem;
    border-radius:5px
}
.vertical{
    width:1.1%;
    background:#A8A8A8;
    height:37rem;
    margin-top:10%;
    margin-left:35%
}
.Oval{
    width:100%;
}
.collapse{
    width:100%
}
.header{
    width:90%;
    margin:3% 0% 0% 8%
}
.bank{
    margin-top:4%
}
.plus{
    margin-left:2%
}
.usage{
    margin-top:3%;
    font-size:20px
}
.usage1{
    font-size:20px
}
.delete{
    margin:10%;
    width:70%;
    background:#e60072;
    color:white;
    border-radius:5px;
    border:none
}
.cancelUpdate{
    margin-left:45%;
}
.cols{
    width:90%
}
.activate{
    width:90%
}
.circle{
    margin-top:2%
}
.prof2{
    width:70%
}
.curent{
    width:100%;
    font-size:20px
}
